<h3>New application {{ toDisplay }}</h3>
<div class="row">
  <div class="col-1"></div>
  <div class="col-2" (click)="sortByItem('resource_type')"> Resource Type </div>
  <div class="col-2" (click)="sortByItem('display_title')"> Display Title </div>
  <div class="col-2" (click)="sortByItem('media_type')"> Media Type </div>
  <div class="col-2" (click)="sortByItem('language')"> Language </div>
</div>
<div class="row" *ngFor="let result of orderedList | slice:fromNbr:toNbr">
  <div class="col-1">
    <button
      *ngIf="result.content.resource.viewable === 'true'"
      class="btn btn-info"
      (click)="showDetails(result.content.resource.id)">Details
    </button>
  </div>
  <div class="col-2"> {{result.content.resource.resource_type}} </div>
  <div class="col-2"> {{result.content.resource.display_title}} </div>
  <div class="col-2"> {{result.content.resource.media_type}} </div>
  <div class="col-2"> {{result.content.resource.language}} </div>
</div>
<ngb-pagination [collectionSize]="collectionSize" (pageChange)="switchPageTo($event)" [pageSize]="pageSize" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
Current page: {{page}} with a total of {{collectionSize}} items.
<pre>{{ detailView | json}}</pre>
