<h3>Blog list about the programing adventures</h3>
<div *ngIf="listView">
  <table class="table table-responsive table-striped">
    <thead class="grey-header">
      <tr>
        <th></th>
        <th (click)="sortByItem('resource_type')"> Resource Type </th>
        <th (click)="sortByItem('display_title')"> Display Title </th>
        <th (click)="sortByItem('media_type')"> Media Type </th>
        <th (click)="sortByItem('language')"> Language </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of orderedList | slice:fromNbr:toNbr">
        <td>
          <button
            *ngIf="result.content.resource.viewable === 'true'"
            class="btn btn-info"
            (click)="showDetails(result.content.resource.id)">Details
          </button>
        </td>
        <td> {{result.content.resource.resource_type}} </td>
        <td> {{result.content.resource.display_title}} </td>
        <td> {{result.content.resource.media_type}} </td>
        <td> {{result.content.resource.language}} </td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination class="center" [collectionSize]="collectionSize" (pageChange)="switchPageTo($event)" [pageSize]="pageSize" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
  Current page: {{page}} with a total of {{collectionSize}} items.
</div>
<div *ngIf="!listView">
  <!-- // Again this should be in a different Controller/page in my opinion, but SPA was requested -->
  <div class="row">
    <div class="col-2"> Categorization: </div>
    <div class="col-10"> {{ detailView.content.resource.categorization }} </div>
  </div>
  <div class="row">
    <div class="col-2"> Description: </div>
    <div class="col-10">{{ detailView.content.resource.meaningful_description }} </div>
  </div>
  <div class="row">
    <div class="col-2"> Additional Text: </div>
    <div class="col-10"> {{ detailView.content.resource.additional_text }} </div>
  </div>
  <div *ngIf="detailView.content.resource.standards && detailView.content.resource.standards.standard">
    <div class="row">
      <div class="col-2"> Standards list: </div>
    </div>
    <div class="row" *ngFor="let std of detailView.content.resource.standards.standard">
      <div class="col-2"> {{std.id}} :</div>
      <div class="col-10"> {{std.description}} </div>
    </div>
  </div>
</div>
