.row {
  text-align: justify;
  text-justify: inter-word;
}

.grey-header {
  background-color: #818182;
  color: white;
}

.label {
  color: black;
  padding-bottom: 4px;
}

.even {
  background-color: #dcdcdc;
}
.odd {
  background-color: #aaaaaa;
}

.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}
